.loadingWrap {text-align: center;}
.dim {    
    display: block;
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 0.15;
    position: fixed;
    top: 0;
    left: 0;
    z-index:1000;
}

/* .fakeblur {    
    display: block;
    background-color: black;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAUVBMVEWFhYWDg4N3d3dtbW17e3t1dXWBgYGHh4d5eXlzc3OLi4ubm5uVlZWPj4+NjY19fX2JiYl/f39ra2uRkZGZmZlpaWmXl5dvb29xcXGTk5NnZ2c8TV1mAAAAG3RSTlNAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEAvEOwtAAAFVklEQVR4XpWWB67c2BUFb3g557T/hRo9/WUMZHlgr4Bg8Z4qQgQJlHI4A8SzFVrapvmTF9O7dmYRFZ60YiBhJRCgh1FYhiLAmdvX0CzTOpNE77ME0Zty/nWWzchDtiqrmQDeuv3powQ5ta2eN0FY0InkqDD73lT9c9lEzwUNqgFHs9VQce3TVClFCQrSTfOiYkVJQBmpbq2L6iZavPnAPcoU0dSw0SUTqz/GtrGuXfbyyBniKykOWQWGqwwMA7QiYAxi+IlPdqo+hYHnUt5ZPfnsHJyNiDtnpJyayNBkF6cWoYGAMY92U2hXHF/C1M8uP/ZtYdiuj26UdAdQQSXQErwSOMzt/XWRWAz5GuSBIkwG1H3FabJ2OsUOUhGC6tK4EMtJO0ttC6IBD3kM0ve0tJwMdSfjZo+EEISaeTr9P3wYrGjXqyC1krcKdhMpxEnt5JetoulscpyzhXN5FRpuPHvbeQaKxFAEB6EN+cYN6xD7RYGpXpNndMmZgM5Dcs3YSNFDHUo2LGfZuukSWyUYirJAdYbF3MfqEKmjM+I2EfhA94iG3L7uKrR+GdWD73ydlIB+6hgref1QTlmgmbM3/LeX5GI1Ux1RWpgxpLuZ2+I+IjzZ8wqE4nilvQdkUdfhzI5QDWy+kw5Wgg2pGpeEVeCCA7b85BO3F9DzxB3cdqvBzWcmzbyMiqhzuYqtHRVG2y4x+KOlnyqla8AoWWpuBoYRxzXrfKuILl6SfiWCbjxoZJUaCBj1CjH7GIaDbc9kqBY3W/Rgjda1iqQcOJu2WW+76pZC9QG7M00dffe9hNnseupFL53r8F7YHSwJWUKP2q+k7RdsxyOB11n0xtOvnW4irMMFNV4H0uqwS5ExsmP9AxbDTc9JwgneAT5vTiUSm1E7BSflSt3bfa1tv8Di3R8n3Af7MNWzs49hmauE2wP+ttrq+AsWpFG2awvsuOqbipWHgtuvuaAE+A1Z/7gC9hesnr+7wqCwG8c5yAg3AL1fm8T9AZtp/bbJGwl1pNrE7RuOX7PeMRUERVaPpEs+yqeoSmuOlokqw49pgomjLeh7icHNlG19yjs6XXOMedYm5xH2YxpV2tc0Ro2jJfxC50ApuxGob7lMsxfTbeUv07TyYxpeLucEH1gNd4IKH2LAg5TdVhlCafZvpskfncCfx8pOhJzd76bJWeYFnFciwcYfubRc12Ip/ppIhA1/mSZ/RxjFDrJC5xifFjJpY2Xl5zXdguFqYyTR1zSp1Y9p+tktDYYSNflcxI0iyO4TPBdlRcpeqjK/piF5bklq77VSEaA+z8qmJTFzIWiitbnzR794USKBUaT0NTEsVjZqLaFVqJoPN9ODG70IPbfBHKK+/q/AWR0tJzYHRULOa4MP+W/HfGadZUbfw177G7j/OGbIs8TahLyynl4X4RinF793Oz+BU0saXtUHrVBFT/DnA3ctNPoGbs4hRIjTok8i+algT1lTHi4SxFvONKNrgQFAq2/gFnWMXgwffgYMJpiKYkmW3tTg3ZQ9Jq+f8XN+A5eeUKHWvJWJ2sgJ1Sop+wwhqFVijqWaJhwtD8MNlSBeWNNWTa5Z5kPZw5+LbVT99wqTdx29lMUH4OIG/D86ruKEauBjvH5xy6um/Sfj7ei6UUVk4AIl3MyD4MSSTOFgSwsH/QJWaQ5as7ZcmgBZkzjjU1UrQ74ci1gWBCSGHtuV1H2mhSnO3Wp/3fEV5a+4wz//6qy8JxjZsmxxy5+4w9CDNJY09T072iKG0EnOS0arEYgXqYnXcYHwjTtUNAcMelOd4xpkoqiTYICWFq0JSiPfPDQdnt+4/wuqcXY47QILbgAAAABJRU5ErkJggg==);
    width: 100%;
    height: calc(100% - 60px);
    opacity: 0.15;
    position: fixed;
    top: 0;
    left: 0;
    z-index:1000;
}
 */
.fakeblur {    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 60px);
    z-index:1000;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAUVBMVEWFhYWDg4N3d3dtbW17e3t1dXWBgYGHh4d5eXlzc3OLi4ubm5uVlZWPj4+NjY19fX2JiYl/f39ra2uRkZGZmZlpaWmXl5dvb29xcXGTk5NnZ2c8TV1mAAAAG3RSTlNAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEAvEOwtAAAFVklEQVR4XpWWB67c2BUFb3g557T/hRo9/WUMZHlgr4Bg8Z4qQgQJlHI4A8SzFVrapvmTF9O7dmYRFZ60YiBhJRCgh1FYhiLAmdvX0CzTOpNE77ME0Zty/nWWzchDtiqrmQDeuv3powQ5ta2eN0FY0InkqDD73lT9c9lEzwUNqgFHs9VQce3TVClFCQrSTfOiYkVJQBmpbq2L6iZavPnAPcoU0dSw0SUTqz/GtrGuXfbyyBniKykOWQWGqwwMA7QiYAxi+IlPdqo+hYHnUt5ZPfnsHJyNiDtnpJyayNBkF6cWoYGAMY92U2hXHF/C1M8uP/ZtYdiuj26UdAdQQSXQErwSOMzt/XWRWAz5GuSBIkwG1H3FabJ2OsUOUhGC6tK4EMtJO0ttC6IBD3kM0ve0tJwMdSfjZo+EEISaeTr9P3wYrGjXqyC1krcKdhMpxEnt5JetoulscpyzhXN5FRpuPHvbeQaKxFAEB6EN+cYN6xD7RYGpXpNndMmZgM5Dcs3YSNFDHUo2LGfZuukSWyUYirJAdYbF3MfqEKmjM+I2EfhA94iG3L7uKrR+GdWD73ydlIB+6hgref1QTlmgmbM3/LeX5GI1Ux1RWpgxpLuZ2+I+IjzZ8wqE4nilvQdkUdfhzI5QDWy+kw5Wgg2pGpeEVeCCA7b85BO3F9DzxB3cdqvBzWcmzbyMiqhzuYqtHRVG2y4x+KOlnyqla8AoWWpuBoYRxzXrfKuILl6SfiWCbjxoZJUaCBj1CjH7GIaDbc9kqBY3W/Rgjda1iqQcOJu2WW+76pZC9QG7M00dffe9hNnseupFL53r8F7YHSwJWUKP2q+k7RdsxyOB11n0xtOvnW4irMMFNV4H0uqwS5ExsmP9AxbDTc9JwgneAT5vTiUSm1E7BSflSt3bfa1tv8Di3R8n3Af7MNWzs49hmauE2wP+ttrq+AsWpFG2awvsuOqbipWHgtuvuaAE+A1Z/7gC9hesnr+7wqCwG8c5yAg3AL1fm8T9AZtp/bbJGwl1pNrE7RuOX7PeMRUERVaPpEs+yqeoSmuOlokqw49pgomjLeh7icHNlG19yjs6XXOMedYm5xH2YxpV2tc0Ro2jJfxC50ApuxGob7lMsxfTbeUv07TyYxpeLucEH1gNd4IKH2LAg5TdVhlCafZvpskfncCfx8pOhJzd76bJWeYFnFciwcYfubRc12Ip/ppIhA1/mSZ/RxjFDrJC5xifFjJpY2Xl5zXdguFqYyTR1zSp1Y9p+tktDYYSNflcxI0iyO4TPBdlRcpeqjK/piF5bklq77VSEaA+z8qmJTFzIWiitbnzR794USKBUaT0NTEsVjZqLaFVqJoPN9ODG70IPbfBHKK+/q/AWR0tJzYHRULOa4MP+W/HfGadZUbfw177G7j/OGbIs8TahLyynl4X4RinF793Oz+BU0saXtUHrVBFT/DnA3ctNPoGbs4hRIjTok8i+algT1lTHi4SxFvONKNrgQFAq2/gFnWMXgwffgYMJpiKYkmW3tTg3ZQ9Jq+f8XN+A5eeUKHWvJWJ2sgJ1Sop+wwhqFVijqWaJhwtD8MNlSBeWNNWTa5Z5kPZw5+LbVT99wqTdx29lMUH4OIG/D86ruKEauBjvH5xy6um/Sfj7ei6UUVk4AIl3MyD4MSSTOFgSwsH/QJWaQ5as7ZcmgBZkzjjU1UrQ74ci1gWBCSGHtuV1H2mhSnO3Wp/3fEV5a+4wz//6qy8JxjZsmxxy5+4w9CDNJY09T072iKG0EnOS0arEYgXqYnXcYHwjTtUNAcMelOd4xpkoqiTYICWFq0JSiPfPDQdnt+4/wuqcXY47QILbgAAAABJRU5ErkJggg==);
    
}
    
.fakeblur:before {    
    content: "";
    position: absolute;
    z-index: -2;
    top:0;
    bottom:0;
    left:0;
    right:0;       
    opacity: 0.25;    
    background-image:
        -webkit-radial-gradient(white 0px, transparent 1px), 
        -webkit-radial-gradient(white 0px, transparent 1px), 
        -webkit-radial-gradient(white 0px, transparent 1px), 
        -webkit-radial-gradient(white 0px, transparent 1px), 
        -webkit-radial-gradient(white 0px, transparent 1px), 
        -webkit-radial-gradient(white 0px, transparent 1px), 
        -webkit-radial-gradient(white 0px, transparent 1px), 
        -webkit-radial-gradient(white 0px, transparent 1px), 
        -webkit-radial-gradient(white 0px, transparent 1px), 
        -webkit-radial-gradient(white 0px, transparent 1px), 
        -webkit-radial-gradient(white 0px, transparent 1px), 
        -webkit-radial-gradient(white 0px, transparent 1px), 
        -webkit-radial-gradient(white 0px, transparent 1px), 
        -webkit-radial-gradient(white 0px, transparent 1px), 
        -webkit-radial-gradient(white 0px, transparent 1px),    
        -webkit-radial-gradient(white 0px, transparent 1px),    
        -webkit-radial-gradient(white 0px, transparent 1px),
        -webkit-radial-gradient(white 0px, transparent 1px),
        -webkit-radial-gradient(white 0px, transparent 1px),
        -webkit-radial-gradient(white 0px, transparent 1px),
        -webkit-radial-gradient(white 0px, transparent 1px),
        -webkit-radial-gradient(white 0px, transparent 1px), 
        -webkit-radial-gradient(white 0px, transparent 1px), 
        -webkit-radial-gradient(white 0px, transparent 1px), 
        -webkit-radial-gradient(white 0px, transparent 1px), 
        -webkit-radial-gradient(white 0px, transparent 1px), 
        -webkit-radial-gradient(white 0px, transparent 1px), 
        -webkit-radial-gradient(white 0px, transparent 1px), 
        -webkit-radial-gradient(white 0px, transparent 1px), 
        -webkit-radial-gradient(white 0px, transparent 1px), 
        -webkit-radial-gradient(white 0px, transparent 1px), 
        -webkit-radial-gradient(white 0px, transparent 1px), 
        -webkit-radial-gradient(white 0px, transparent 1px), 
        -webkit-radial-gradient(white 0px, transparent 1px), 
        -webkit-radial-gradient(white 0px, transparent 1px), 
        -webkit-radial-gradient(white 0px, transparent 1px),    
        -webkit-radial-gradient(white 0px, transparent 1px),    
        -webkit-radial-gradient(white 0px, transparent 1px),
        -webkit-radial-gradient(white 0px, transparent 1px),
        -webkit-radial-gradient(white 0px, transparent 1px),
        -webkit-radial-gradient(white 0px, transparent 1px),
        -webkit-radial-gradient(white 0px, transparent 1px);      

    background-image:
        -moz-radial-gradient(white 0px, transparent 1px),
        -moz-radial-gradient(white 0px, transparent 1px),
        -moz-radial-gradient(white 0px, transparent 1px),
        -moz-radial-gradient(white 0px, transparent 1px),
        -moz-radial-gradient(white 0px, transparent 1px),
        -moz-radial-gradient(white 0px, transparent 1px),
        -moz-radial-gradient(white 0px, transparent 1px),
        -moz-radial-gradient(white 0px, transparent 1px),
        -moz-radial-gradient(white 0px, transparent 1px),
        -moz-radial-gradient(white 0px, transparent 1px),
        -moz-radial-gradient(white 0px, transparent 1px),
        -moz-radial-gradient(white 0px, transparent 1px),
        -moz-radial-gradient(white 0px, transparent 1px),
        -moz-radial-gradient(white 0px, transparent 1px),
        -moz-radial-gradient(white 0px, transparent 1px),    
        -moz-radial-gradient(white 0px, transparent 1px),    
        -moz-radial-gradient(white 0px, transparent 1px),
        -moz-radial-gradient(white 0px, transparent 1px),
        -moz-radial-gradient(white 0px, transparent 1px),
        -moz-radial-gradient(white 0px, transparent 1px),
        -moz-radial-gradient(white 0px, transparent 1px),
        -moz-radial-gradient(white 0px, transparent 1px),
        -moz-radial-gradient(white 0px, transparent 1px),
        -moz-radial-gradient(white 0px, transparent 1px),
        -moz-radial-gradient(white 0px, transparent 1px),
        -moz-radial-gradient(white 0px, transparent 1px),
        -moz-radial-gradient(white 0px, transparent 1px),
        -moz-radial-gradient(white 0px, transparent 1px),
        -moz-radial-gradient(white 0px, transparent 1px),
        -moz-radial-gradient(white 0px, transparent 1px),
        -moz-radial-gradient(white 0px, transparent 1px),
        -moz-radial-gradient(white 0px, transparent 1px),
        -moz-radial-gradient(white 0px, transparent 1px),
        -moz-radial-gradient(white 0px, transparent 1px),
        -moz-radial-gradient(white 0px, transparent 1px),
        -moz-radial-gradient(white 0px, transparent 1px),    
        -moz-radial-gradient(white 0px, transparent 1px),    
        -moz-radial-gradient(white 0px, transparent 1px),
        -moz-radial-gradient(white 0px, transparent 1px),
        -moz-radial-gradient(white 0px, transparent 1px),
        -moz-radial-gradient(white 0px, transparent 1px),
        -moz-radial-gradient(white 0px, transparent 1px);     
    
    background-position:
        23px 8px, 6px 98px, 39px 11px, 46px 98px, 57px 91px, 19px 78px, 61px 88px, 21px 83px, 84px 25px, 27px 34px, 48px 46px, 78px 85px, 3px 31px, 92px 23px, 64px 77px, 29px 17px, 82px 7px, 58px 10px, 84px 35px, 41px 42px, 87px 62px, 69px 22px, 30px 89px, 38px 74px, 26px 29px, 85px 39px, 7px 84px, 38px 18px, 65px 83px, 79px 25px, 73px 93px, 54px 89px, 22px 52px, 14px 62px, 19px 47px, 56px 72px, 27px 2px, 48px 7px, 95px 5px, 34px 78px, 39px 72px, 92px 71px, 54px 50px, 60px 48px, 8px 59px, 12px 17px, 13px 89px, 83px 88px, 46px 60px, 95px 68px;

    background-size:
        31px 31px,
        29px 29px,
        23px 23px,
        19px 19px,
        17px 17px,
        13px 13px,
        11px 11px,
        31px 31px,
        29px 29px,
        23px 23px,
        19px 19px,
        17px 17px,
        13px 13px,
        11px 11px,
        31px 31px,
        29px 29px,
        23px 23px,
        19px 19px,
        17px 17px,
        13px 13px,
        11px 11px,
        31px 31px,
        29px 29px,
        23px 23px,
        19px 19px,
        17px 17px,
        13px 13px,
        11px 11px,
        31px 31px,
        29px 29px,
        23px 23px,
        19px 19px,
        17px 17px,
        13px 13px,
        11px 11px,
        31px 31px,
        29px 29px,
        23px 23px,
        19px 19px,
        17px 17px,
        13px 13px,
        11px 11px;    
    }


.loadingWrap .loading {
	font-size: 36px;
    opacity: 1;
    position: fixed;
    left: calc(50% - 18px);
    top: calc(50% - 18px);
    z-index:1001;
}   

.loadingWrap .message {
	position: fixed;
    top: calc(50% + 18px);
    width: 100%;
    z-index:1001;
}

.progress {z-index: 10001;}