@charset "utf-8";


div.tab_right { 
    left: 100%;
}
 
div.tab_left, div.tab_right { 
    width: 100%;
    position: absolute;
}

.wrapper_main {
	width: 2048px;
    height: 1250px;
    position: absolute;
    top: 142px;
    overflow: hidden;
    z-index: 100;
}

.bullet {
	background: url(../../img/nationwide/bullet_2.png);
    height: 14px;
    width: 14px;
    display:inline-block;
    margin-right: 10px;
}

.bullet-wrap {
	position: absolute;
	top: 1461px;
    left: 987px;
    z-index: 101;
    width: 90px;
}

.bullet.active {
	background: url(../../img/nationwide/bullet_1.png) -5px -1px;
}
/*
.bullet-white {
	position: absolute;
	background-image: url(../../img/nationwide/bullet_1.png);
	height: 17px;
    width: 17px;
    top: 1460px;
    left: 985px;
    z-index: 102;
}*/

/* div#container {
    width: 6000px;
}
 */

div#container_main {
	position: absolute;
	width : 5385px;
	left : 147px;
	right : 0px;
}

.bottom-text {
	padding-top: 74px;
    text-align: center;
}

.wrapper {
    /* display: inline-block; */
    padding-right: 45px;
    float: left;
    position: relative;
}

.middle-image {
	width:1749px;
	height:1138px;
}
.middle-image > img {
	display:none;
	position:absolute;
	top:0px;
	left:0px;
	z-index:10;
}

.tour-image {
    position: absolute;
    /* top: 142px;
    left: 147px; */
    width: 6000px;
    left: 0px;
}

.image_bg {
	width:1749px;
	height:1138px;
	position:absolute;
	top:0px;
	left:0px;
	background:#000;
	opacity:0.6;
	filter:alpha(opacity=60);
	z-index:9;
}

.button {
	border-radius: 12px;
    background-clip: border-box;
    box-shadow: 0 1px 1px 0 rgba(255,255,255,0.3) inset;
    background-image: -webkit-gradient(linear, 0 0, 0 100%,color-stop(0%,rgba(255,255,255,0.12)),color-stop(100%,rgba(0,0,0,0.12)));
    background-image: -webkit-linear-gradient(rgba(255,255,255,0.12),rgba(0,0,0,0.12));
    background-image: -moz-linear-gradient(rgba(255,255,255,0.12),rgba(0,0,0,0.12));
    background-image: -o-linear-gradient(rgba(255,255,255,0.12),rgba(0,0,0,0.12));
    background-image: linear-gradient(rgba(255,255,255,0.12),rgba(0,0,0,0.12));
    display: inline-block;
    color: #FFF;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.6);
    font-weight: bold;
    font-size: 16px;
    font-size: 1rem;
    font-family: "NBS Medium";
    line-height: 1;
    cursor: pointer;
}

.button.button-letter:active, .button.button-letter:hover {
	box-shadow: initial;
    background-image: initial;
}

.button:active, .button:hover, .button:focus {
	box-shadow: 0 0 3px 0 rgba(0,0,0,0.4);
}

.button:active {
	background-image: -webkit-gradient(linear, 0 0, 0 100%,color-stop(0%,rgba(0,0,0,0.12)),color-stop(100%,rgba(255,255,255,0.12)));
    background-image: -webkit-linear-gradient(rgba(0,0,0,0.12),rgba(255,255,255,0.12));
    background-image: -moz-linear-gradient(rgba(0,0,0,0.12),rgba(255,255,255,0.12));
    background-image: -o-linear-gradient(rgba(0,0,0,0.12),rgba(255,255,255,0.12));
    background-image: linear-gradient(rgba(0,0,0,0.12),rgba(255,255,255,0.12));
}

.purple-button {
    padding: 8px 11px 8px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 30px;	
}
.purple-button:active, .purple-button:hover, .purple-button:focus {
	border: 3px solid #ffffff;		
} 

.red-button {
	border: 3px solid #BBBBBB;
    padding: 8px 11px 8px;
    background-color: rgba(255, 255, 255, 0);
}
.red-button:active, .red-button:hover, .red-button:focus {
	border: 4px solid #FFFFFF;	
} 

.black-button {
	border: 1px solid #494949;
    padding: 8px 11px 8px;
    background-color: #777;
}

.home-button {
	border-radius: 55px;
}

.button-letter {
	position: absolute;
    background-image: initial;
    border: 0;
    outline: 0;
    border-radius: initial;
    width: 95px;
    height: 49px;
	
}

.popWrap {
	width:500px;
	height:auto;
	margin-top: 350px;
    background: #FFF;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
    border:2px solid #d6d6d6;
    position: fixed;
    z-index: 11000;
    margin-left: 50%;
    left:-190px;
    top: 110px;
}

.popTitleWrap {
	margin:30px 30px 0 30px;
}

.popTitle {	
	font-size: 35px;
	font-weight:bold;
    font-family: Droid Sans Fallback;
    color:#000;
    opacity:0.8;
    text-align:left;
}

.popTitleClose {
	float:right;
	margin: 10px;
	padding:20px;
}

.popBodyWrap {
	margin:30px 30px 0 30px;
}
.popBodyContents {	
	font-size: 32px;
	font-weight:bold;
    font-family: Droid Sans Fallback;
    text-align:left;
    color:#000;
    opacity:0.4;
}

.popButtonWrap {
	height:32px;
	margin:30px 30px 30px 30px;
	text-align: right;
}
.popButton {
	float:right;
	padding:0 8px;
	font-size:30px;
	font-weight:bold;
	color:#1976d2;
	cursor:pointer;
}
