<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.test.client"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="org.fidoalliance.uaf.permissions.FIDO_CLIENT" />

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light.DarkActionBar" >
        <activity
            android:name="com.samsung.sds.fido.uaf.client.sdk.SDKActivity"
            android:label="@string/title_activity_sdk"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoDisplay" >
        </activity>
        <activity
            android:name="com.samsung.sds.fido.uaf.client.sdk.ui.AuthenticatorSelector"
            android:label="@string/title_authenticator_selector"
            android:theme="@style/AuthenticatorSelectorTheme"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.sds.test.client.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sds.test.client.GetDiscoveryActivity"
            android:label="@string/get_discovery"
            android:screenOrientation="portrait" >
        </activity>        
        <activity
            android:name="com.sds.test.client.RegistrationActivity"
            android:label="@string/registration"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.sds.test.client.AuthenticationActivity"
            android:label="@string/authentication"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.sds.test.client.TransactionActivity"
            android:label="@string/transaction"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.sds.test.client.DeregistrationActivity"
            android:label="@string/deregistration"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>